@import "tailwindcss";

@theme {
  --color-primary: #083cb5;
  --color-secondary: #40589a;
  --color-tertiary: #050818;
  --color-quaternary: #f0f3f5;
  --color-quinary: #ffffff;
}

body {
  background-color: var(--color-quaternary);
  color: var(--color-tertiary);
}
